body{
  background-color: black;
}

.ballsy{
  font-family: Consolas,monaco,monospace;
  color:white;

}

.font{
  font-family: Consolas,monaco,monospace;
  color:#240488;
  font-size: 30px;
  margin-left: 220px;
}

a:link{
  text-decoration: none;
}
.nazwa{
  font-family: Consolas,monaco,monospace;
  color:white;
  font-size: 60px;
}
.not{
  font-family: Consolas,monaco,monospace;
  color:white;
}
